body {
	
	background-image: url(BackGround.jpg);
}

h2 {
	color: white;
	  text-align: center;
	  text-decoration: underline;
	  
}

h3 {
	color: white;
	text-align: center;
}
h4 {
	color: white;
	text-align: center;
}
h5 {
	color: white;
	text-align: center;
}

p{
	color: black;
	text-align: center;
}
